body {
    margin: 0;
    padding: 0;
}

.actions {
    width: 250px;
}

.action {
    box-sizing: border-box;
    font-size: 18px;
    width: 100%;
    padding: 12px;
}

.action:hover {
    cursor: pointer;
    background-color: #DBE5E9;
}
